@page "/"
<PageTitle>Index</PageTitle>
<SplitContainer SplitDirection="SplitContainer.ESplitDirection.Horizontal" InitialSplit="0.25 0.75">
    <ChildA>
        <ToolBar></ToolBar>
    </ChildA>
    <ChildB>
        <h1>Clean Blazor</h1>
    </ChildB>
</SplitContainer>