.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "menu"
    "content";
}

.menu {
    grid-area: menu;
}

.content {
    grid-area: content;
    overflow: hidden;
}
