@* ReSharper disable once RedundantUsingDirective *@
@using X39.Systems.ServiceOrchestrator.Designer.PageParts.DesignView
@* ReSharper disable once RedundantUsingDirective *@
@using X39.Systems.ServiceOrchestrator.Designer.PageParts.PropertyView
@using X39.Systems.ServiceOrchestrator.Data.Entity
@using System.ComponentModel.DataAnnotations
<h1>@DataContext.Service.Name</h1>
<h2>@DataContext.Service.Id</h2>
<h2>@DataContext.Service.Id</h2>
<SplitContainer SplitDirection="SplitContainer.ESplitDirection.Horizontal" InitialSplit="0.75 0.25">
    <ChildA>
        <DesignView DataContext="DataContext"/>
    </ChildA>
    <ChildB>
        <PropertyView/>
    </ChildB>
</SplitContainer>

@code {

    [Parameter, EditorRequired, Required]
    public ServiceDataContext DataContext { get; set; }
}