@using X39.Systems.ServiceOrchestrator.Designer.Services
@inject INavigationService _navigationService
<nav>
    <ul>
        @foreach (var navigationContainer in _navigationService.NavigationContainers)
        {
            <li><a href="@navigationContainer.Target">@navigationContainer.LocalizedName</a></li>
        }
    </ul>
</nav>

@code {
    
}